.container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button {
    padding: 22px;
    background-color: white;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.button:hover {
    transform: scale(0.95);
    transition: 0.3s;
    outline: none;
    border: none;
}

.article {
    display: flex;
    flex-direction: column;
    margin: 15px;;
    height:100%;
    justify-content: center;
    text-align: left;

}

.articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.articletext{
    width: 70%
}
