.container {
    height: 100vh; /* Ensure it has height */
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.textContainer{
    width: 80%;
}