.container {
    
    background: transparent;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: left;
    align-items: left;
  }

  

  .textContainer {
    width: 80%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    border: 2px solid white; /* Correct border syntax */
    padding-left: 10px;
    
}

.About{
    font-size: 50px;
    border: transparent;
}