
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left {
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.right {
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    margin-right: 0;
    font-size: auto;
    gap: 1rem;
}