
.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.left {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    padding-left: 5%;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto; 
    margin-right: 0;
    width: 80%;
}


.navLinks {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 1rem;
    width: 80%;
}

.navLinks .links {
    display: flex;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    font-size: 1.2rem;
}

.navLinks .links:hover {
    color:#22775A;
    transform: scale(1.1);
    transition: 0.3s;
}

.logo{
    width: 75px;
    height: 75px;
    filter: invert(1) grayscale(1);
}
