* {
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color: #101F21;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
}

.searchbar {
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #35777E;
    align-items: center;
    justify-content: center;
}


