

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: transparent;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    width: 80%;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
}

.header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.newsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 70%;
}
